<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <div class="title">
            <p>📝 My Todo List</p>
        </div>
    </header>
    <div class="register">
        <h3>Register yourself</h3>
        <form class="register-form">
            <input name="username" placeholder="Enter a username..." required>
            <div class="exists-msg" hidden>
                <span></span>
            </div>
            <button type="submit" name="action" value="register"><span>Register</span></button>
            <button type="submit" name="action" value="login"><span>Login</span></button>
        </form>
    </div>
    <div class="todo-app" hidden>
        <div class="inputs">
            <input type="text" placeholder="What do you need to do? ✨" class="js-input-item">
            <input type="date" class="js-input-date">
            <button id="js-add-btn" class="add-btn">+ Add Task</button>
        </div>
        <div class="list js-list"></div>
    </div>
    <footer>
        <p>Made with ❤️ by Hempushp Chauhan</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>