<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <div class="title">
            <p>📝 My Todo List</p>
        </div>
        <button class="logout-btn">
            <div>logout</div>
        </button>
    </header>
    <div class="todo-app">
        <div class="inputs">
            <input type="text" placeholder="What do you need to do? ✨" class="js-input-item">
            <input type="date" class="js-input-date">
            <button id="js-add-btn" class="add-btn">+ Add Task</button>
        </div>
        <div class="list js-list"></div>
    </div>
    <footer>
        <p>Made with ❤️ by Hempushp Chauhan</p>
    </footer>

    <script src="/todos.js"></script>
</body>
</html>